/* src/styles/AppLayout.css */

.app-container {
  display: flex;
}

.app-container main {
  flex: 1;
  padding: 1rem;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .app-container main {
    padding: 0.5rem;
  }
}
