:root {
  --color-text: #333;
  --color-background: #ffffff;
  --color-surface: #f8f8f8;
  --color-primary: #ff6600;
  --color-accent: #1163e6;
  --color-accent-hover: #0b3b8c;
  --color-success: #219c55;
  --color-success-hover: #17643c;
  --color-error: #b00020;
  --color-border: #ddd;
  --color-border-light: #ccc;
  --color-border-muted: #f0f0f0;
  --color-background-muted: #f7f7fa;
  --viewer-background: #202020;
}

.dark-theme {
  --color-text: #f8f8f8;
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-border: #444;
  --color-border-light: #666;
  --color-border-muted: #333;
  --color-background-muted: #1e1e1e;
  --viewer-background: #202020;
}
